# .travis.yml
# taken from http://lua.space/general/ci-with-lua

language: python
sudo: false

env:
  - LUA="lua=5.3"
  - LUA="luajit=2.1"

before_install:
  - pip install hererocks
  - hererocks lua_install -r^ --$LUA
  - export PATH=$PATH:$PWD/lua_install/bin

install:
  - luarocks install busted

script:
  - busted
